@using Humanizer
@using Newtonsoft.Json
@using JsonSerializer = System.Text.Json.JsonSerializer
@model RockFS.Views.Explorer.MountExplorerModel

@if (Model.Grant.MountId == Guid.Empty)
{
    <div>
        <h2>You are not authorized to view this mount.</h2>
    </div>
    return;
}

<div class="rfs-explorer">
    <div class="rfs-explorer-title d-flex">
        <div class="flex-grow-1">
            <strong>@Model.MountName</strong>
            /
            @Model.Folder
        </div>
        <a class="rfs-button" title="Mount Settings" href="@Urls.MountSettingsUrl/@Model.Grant.MountId">
            <i class="fa-solid fa-gear"></i>
        </a>
    </div>
    @* File Manager *@
    <div id="file-explorer" class="bg-dark files">
        <table class="table table-dark table-hover">
          <thead class="table-light">
          <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">Last Updated</th>
          </tr>
          </thead>
          <tbody>
          @for (int i = 0; i < 50; i++)
          {
              <tr key="@i">
                  <td style="width: 20px">
                      <span class="fiv-viv fiv-icon-txt"></span>
                  </td>
                  <td>
                      file@(i).txt
                  </td>
                  <td>
                      @i kb
                  </td>
                  <td>
                      @DateTime.UtcNow.Subtract(TimeSpan.FromSeconds(i)).Humanize()
                  </td>
              </tr>
          }
          </tbody>
        </table>
    </div>
    <div class="bg-dark p-2">
        @* Inspector *@
        <h5>File Info</h5>
        <rfs-inspector/>
    </div>
</div>

<style>
    .fiv-viv{
        width: 20px;
    }
    .files{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        overflow-x: hidden;
        height: 80vh;
        justify-content: space-between;
    }
    .file{
        padding: 5px;
        height: 150px;
        width: 150px;
        margin: 5px;
        background-color: #2c3034;
    }
    .rfs-explorer{
        display: grid;
        grid-template-columns: 4fr 330px;
        grid-template-rows: 50px 1fr;
    }
    .rfs-explorer-title{
        grid-row: 1;
        grid-column: 1 / 3;
        background-color: #3a3f42;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    html, body{
        height: 100%;
    }
    .navbar{
        position: absolute;
        width: 100%;
    }
    .rfs-title{
        margin-top: 17px;
    }
</style>

<script>
const nav = document.getElementsByClassName("navbar")[0];
    const title = document.getElementsByClassName("rfs-title")[0];
    const body = document.getElementsByClassName("rfs-grid")[0]; 
    const selected = window.activeItems;
    function run() {
       window.requestAnimationFrame(run);
       body.style.paddingTop = nav.clientHeight + "px";
    }
    // setup
    window.requestAnimationFrame(run);
    window.explorerData = @Html.Raw(JsonSerializer.Serialize(Model))
    document.getElementById("file-explorer").addEventListener("mousedown", mouseDown);
    let pos1;
    function mouseDown(event){
        console.log(event);
        pos1 = [event.x, event.y]
    }
</script>